{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
<div>
    <input type="submit" class="btn btn-primary" value="{{ 'change_password.submit'|trans }}" />
    <a class="btn btn-default pull-right" href="{{ path('fos_user_profile_show') }}">{{ 'beeriously.global.cancel'|trans({},'messages') }}</a>
</div>
{{ form_end(form) }}
