{% extends "external/layout.html.twig" %}
{% block body %}
    <div class="container">
        <div id="beeriously-external-logo">
            <a href="{{ path('root') }}"><img  src="/assets/img/logo/beeriously-logo-square.png"></a>
        </div>
        <div class="card">
            <div class="card-header">
                {{ 'beeriously.user.preferences.choose_a_langauge'|trans({}, null,'en') }}
            </div>
            <div class="list-group list-group-flush">
                {% for language in languages %}
                    <a class="list-group-item" href="/{{ language.locale }}">{{ language.native }} ({{ language.english }}) {{ language.flag }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}