{% extends "user/security/layout.html.twig" %}

{% block fos_user_content %}
    <div id="beeriously-security-container">
        <div class="clearfix">
            <div id="beeriously-security-logo">
                <img src="/assets/img/logo/beeriously-logo-square.png">
            </div>
        </div>

        <h1>{{ 'beeriously.security.register.new_user'|trans }}</h1>

        <p>{{ 'beeriously.security.register.hello_user'|trans({'%username%':app.user.username }) }}</p>

        <p>{{ 'beeriously.security.register.please_provide_additional_deatils'|trans }}</p>

        <form action="{{ path("user_registration_confirm") }}" method="post">
            <div class="form-group">
                <div>
                    <label for="firstName">{{ 'beeriously.security.register.first_name'|trans }}</label>
                </div>
                <input type="text" class="form-control" id="firstName" name="_firstName" value="" required="required" />
            </div>

            <div class="form-group">
                <div>
                    <label for="lastName">{{ 'beeriously.security.register.last_name'|trans }}</label>
                </div>
                <input type="text" class="form-control" id="lastName" name="_lastName" value="" required="required" />
            </div>

            <button type="submit" class="btn btn-primary" id="_submit" name="_submit">{{ 'beeriously.security.register.continue'|trans }}</button>
        </form>

    </div>
{% endblock fos_user_content %}
