{% use "form_div_layout.html.twig" %}
{% block form_row -%}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        <div>{{- form_label(form) -}}</div>
        {{- form_errors(form) -}}
        <div>{{- form_widget(form) -}}</div>
    </div>
{%- endblock form_row %}

{% block form_widget_simple -%}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) -%}
    {% endif %}
    {{- parent() -}}
{%- endblock form_widget_simple %}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        <div class="alert alert-danger">
            <ul class="list-unstyled">
            {%- for error in errors -%}
                <li><span class="fa fa-exclamation-circle"></span> {{ error.message }}</li>
            {%- endfor -%}
            </ul>
        </div>
    {%- endif %}
{%- endblock form_errors %}