{% extends "external/layout.html.twig" %}
{% block body %}
    <div id="beeriously-security-container">
        <div id="beeriously-external-logo">
            <a href="{{ path('root') }}"><img  src="/assets/img/logo/beeriously-logo-square.png"></a>
        </div>
        {% block flash_messages %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        {{ message | trans }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}
        {% block fos_user_content %}{% endblock %}
        {% block footer %}
        <div class="beeriously-security-footer">
            <ul>
                <li><a href="{{ path('fos_user_registration_register') }}">{{ 'beeriously.security.register.need_account'|trans }}</a></li>
                <li><a href="{{ path('fos_user_resetting_request') }}">{{ 'beeriously.security.forgot.password'|trans }}</a></li>
                <li><a href="{{ path('beeriously_choose_language') }}">{{ 'beeriously.security.register.switch_language'|trans }} (🇺🇸🇬🇧🇩🇪)</a></li>
            </ul>
        </div>
        <div class="beeriously-security-footer">
            {{ include('partials/footer.html.twig') }}
        </div>
        {% endblock %}
    </div>
{% endblock %}