{% extends "user/security/layout.html.twig" %}

{% block fos_user_content %}
    <div id="beeriously-security-container">
        <div class="clearfix">
            <div id="beeriously-security-logo">
                <img  src="/assets/img/logo/beeriously-logo-square.png">
            </div>
        </div>

        <div class="clearfix">
            <a style="float: left" href="{{ path('fos_user_security_login') }}">&lt; Back to Login</a>
        </div>

        <h1>{{ 'resetting.email.subject'|trans({}, 'FOSUserBundle') }}</h1>

        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
            <div class="form-group">
                <div>
                    <label for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
                </div>
                <input type="text" class="form-control" id="username" name="username" required="required" />
            </div>
            <button type="submit" class="btn btn-primary" id="_submit" name="_submit">{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}</button>
        </form>
    </div>
{% endblock fos_user_content %}