{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/open-sans.css') }}">
{% endblock %}
{% block javascripts %}
<script src="{{ asset('build/js/app.js') }}"></script>
<script>
Beeriously.messages['beeriously.ajax.default_error_message'] = "{{ 'beeriously.ajax.default_error_message'|trans }}";
</script>
{% endblock %}

{% block body %}
    <div id="beeriously-full-screen-loading-overlay" class="modal-backdrop fade show" style="display: none;"></div>
    <i class="fa fa-fw fa-4x fa-spin fa-circle-o-notch" id="beeriously-loading-indicator" style="display: none"></i>
    <div id="beeriously-page-container">
        <nav class="clearfix">
            <div class="clearfix">
                <div id="beeriously-nav-menu-logo">
                    <a  href="/"><img  src="/assets/img/logo/beeriously-logo-square.png"></a>
                </div>
                <button id="beeriously-nav-menu-button" class="btn btn-default" data-menu-text="{{ 'beeriously.global.menu'|trans }}" data-menu-close-text="{{ 'beeriously.global.close'|trans }}"><i class="fa fa-bars"></i> {{ 'beeriously.global.menu'|trans }}</button>
            </div>
            <div id="beeriously-nav-menu" class="beeriously-nav-menu-hidden">
                <div id="beeriously-nav-menu-app-menu">
                    <a href="{{ path('dashboard') }}" class="{% if activeMenu == 'dashboard' %} beeriously-nav-menu-active {% endif %}"><i class="fa fa-fw fa-dashboard"></i> {{ 'beeriously.dashboard.dashboard'|trans }}<span><i class="fa fa-fw fa-chevron-right"></i></span></a>
                    {#<a href="/equipment" class="{% if activeMenu == 'equipment' %} beeriously-nav-menu-active {% endif %}"><img src="/assets/img/brew-kettle/brew-kettle.svg"> Brewing<span><i class="fa fa-fw fa-chevron-right"></i></span></a>#}
                    {#<a href="/recipes" class="{% if activeMenu == 'recipes' %} beeriously-nav-menu-active {% endif %}"><i class="fa fa-fw fa-file-text-o"></i> Recipes<span><i class="fa fa-fw fa-chevron-right"></i></span></a>#}
                    {#<a href="/inventory" class="{% if activeMenu == 'inventory' %} beeriously-nav-menu-active {% endif %}"><i class="fa fa-fw fa-line-chart"></i> Inventory<span><i class="fa fa-fw fa-chevron-right"></i></span></a>#}
                    {#<a href="/purchasing" class="{% if activeMenu == 'purchasing' %} beeriously-nav-menu-active {% endif %}"><i class="fa fa-fw fa-shopping-cart"></i> Shopping List<span><i class="fa fa-fw fa-chevron-right"></i></span></a>#}
                    {#<a href="/equipment" class="{% if activeMenu == 'equipment' %} beeriously-nav-menu-active {% endif %}"><img src="/assets/img/fermentation-tank/fermentation-tank.svg"> Equipment<span><i class="fa fa-fw fa-chevron-right"></i></span></a>#}
                    <a href="{{ path('calculations') }}" class="{% if activeMenu == 'calculations' %} beeriously-nav-menu-active {% endif %}"><i class="fa fa-fw fa-calculator"></i> {{ 'beeriously.calculations.calculations'|trans }}<span><i class="fa fa-fw fa-chevron-right"></i></span></a>
                    {#<a href="/water" class="{% if activeMenu == 'water' %} beeriously-nav-menu-active {% endif %}"><i class="fa fa-fw fa-tint"></i> Water<span><i class="fa fa-fw fa-chevron-right"></i></span></a>#}
                    <a href="{{ path('brewery') }}" class="{% if activeMenu == 'brewery' %} beeriously-nav-menu-active {% endif %}"><i class="fa fa-fw fa-users"></i> {{ 'beeriously.brewery.brewery'|trans }}<span><i class="fa fa-fw fa-chevron-right"></i></span></a>
                </div>
                <span class="beeriously-nav-menu-separator"></span>
                <div id="beeriously-nav-menu-profile">
                    <div id="beeriously-nav-menu-profile-image">
                     <img src="/assets/img/user/user.png">
                    </div>
                    <ul id="beeriously-nav-menu-profile-details">
                        <li>{{ app.user.getFullName }}<br>({{ app.user.getUsername }})</li>
                        <li><a href="{{ path('fos_user_profile_show') }}">{{ 'beeriously.layout.profile'|trans }}</a> &bull; <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="beeriously-content">
            <h1><i class="{{ pageIcon }}">&nbsp;</i>{{ pageTitle }}</h1>
        <hr>
        {% block flash_messages %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        {{ message | trans }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}
        {% block content %}{% endblock %}
        </div>
    </div>
    {{ include('partials/footer.html.twig') }}
{% endblock %}