{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/open-sans.css') }}">
{% endblock %}
{% block javascripts %}
<script src="{{ asset('build/js/app.js') }}"></script>
<script src="{{ asset('assets/js/jquery-left-nav-responsive-mobile-menu.js') }}"></script>
{% endblock %}

{% block body %}
    <div id="beeriously-page-container">
        <nav class="clearfix">
            <div class="clearfix">
                <div id="beeriously-nav-menu-logo">
                    <a  href="/"><img  src="/assets/img/logo/beeriously-logo-square.png"></a>
                </div>
                <button class="btn btn-default"><i class="fa fa-bars"></i> Menu</button>
            </div>
            <div id="beeriously-nav-menu" class="beeriously-nav-menu-hidden">
                <div id="beeriously-nav-menu-app-menu">
                    <a href="{{ path('dashboard') }}" class="{% if activeMenu == 'dashboard' %} beeriously-nav-menu-active {% endif %}"><i class="fa fa-fw fa-dashboard"></i> {{ 'beeriously.dashboard.dashboard'|trans }}<span><i class="fa fa-fw fa-chevron-right"></i></span></a>
                    {#<a href="/equipment" class="{% if activeMenu == 'equipment' %} beeriously-nav-menu-active {% endif %}"><img src="/assets/img/brew-kettle/brew-kettle.svg"> Brewing<span><i class="fa fa-fw fa-chevron-right"></i></span></a>#}
                    {#<a href="/recipes" class="{% if activeMenu == 'recipes' %} beeriously-nav-menu-active {% endif %}"><i class="fa fa-fw fa-file-text-o"></i> Recipes<span><i class="fa fa-fw fa-chevron-right"></i></span></a>#}
                    {#<a href="/inventory" class="{% if activeMenu == 'inventory' %} beeriously-nav-menu-active {% endif %}"><i class="fa fa-fw fa-line-chart"></i> Inventory<span><i class="fa fa-fw fa-chevron-right"></i></span></a>#}
                    {#<a href="/purchasing" class="{% if activeMenu == 'purchasing' %} beeriously-nav-menu-active {% endif %}"><i class="fa fa-fw fa-shopping-cart"></i> Shopping List<span><i class="fa fa-fw fa-chevron-right"></i></span></a>#}
                    {#<a href="/equipment" class="{% if activeMenu == 'equipment' %} beeriously-nav-menu-active {% endif %}"><img src="/assets/img/fermentation-tank/fermentation-tank.svg"> Equipment<span><i class="fa fa-fw fa-chevron-right"></i></span></a>#}
                    <a href="{{ path('calculations') }}" class="{% if activeMenu == 'calculations' %} beeriously-nav-menu-active {% endif %}"><i class="fa fa-fw fa-calculator"></i> {{ 'beeriously.calculations.calculations'|trans }}<span><i class="fa fa-fw fa-chevron-right"></i></span></a>
                    {#<a href="/water" class="{% if activeMenu == 'water' %} beeriously-nav-menu-active {% endif %}"><i class="fa fa-fw fa-tint"></i> Water<span><i class="fa fa-fw fa-chevron-right"></i></span></a>#}
                    {#<a href="/organization" class="{% if activeMenu == 'organization' %} beeriously-nav-menu-active {% endif %}"><i class="fa fa-fw fa-users"></i> Brewery<span><i class="fa fa-fw fa-chevron-right"></i></span></a>#}
                </div>
                <span class="beeriously-nav-menu-separator"></span>
                <div id="beeriously-nav-menu-profile">
                    <div id="beeriously-nav-menu-profile-image">
                     <img src="/assets/img/user/user.png">
                    </div>
                    <ul id="beeriously-nav-menu-profile-details">
                        <li>{{ app.user.getFullName }}<br>({{ app.user.getUsername }})</li>
                        <li><a href="{{ path('fos_user_profile_show') }}">{{ 'beeriously.layout.profile'|trans }}</a> &bull; <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="beeriously-content">
        {% block content %}{% endblock %}
        </div>
    </div>
    {{ include('partials/footer.html.twig') }}
{% endblock %}