{% extends 'partials/two-column.html.twig' %}
{% set label = 'beeriously.brewery.brewers'|trans %}

{% form_theme addBrewerForm _self %}

{% block _new_brewer_passwordMessage_widget -%}
    <div class="form-group">
        <label class="form-control-label">{{ 'form.password' | trans({},'FOSUserBundle') }}</label>
        <p>{{ 'beeriously.brewery.password_not_required_link_will_be_emailed' | trans }}</p>
    </div>
{%- endblock %}

{% block content %}
    <style>
        .x-scroll {
            overflow-x: auto;
        }

        .card-form {
            padding: 1.5em;
        }
    </style>
    <div class="x-scroll" style="">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>{{ 'beeriously.brewery.brewer_table.name'|trans }}</th>
            <th>{{ 'beeriously.brewery.brewer_table.username'|trans }}</th>
            <th>{{ 'beeriously.brewery.brewer_table.email'|trans }}</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for brewer in brewery.brewers %}
            <tr>
                <td>
                    <p>{{ brewer.fullName }}
                {% if brewer is same as(brewery.accountOwner) %}
                    <br><span class="badge badge-pill badge-dark">{{ 'beeriously.brewery.brewer_table.owner'|trans }}</span>
                {% endif %}
                    </p>
                </td>
                <td>{{ brewer.username }}</td>
                <td>{{ brewer.email }}</td>
                <td>
                    {% if brewer is same as(app.user) %}
                        <a href="{{ path('fos_user_profile_show') }}">{{ 'beeriously.layout.profile'|trans }}</a>
                    {% elseif app.user is same as(brewery.accountOwner) %}
                        <button class="btn btn-default btn-sm"><i class="fa fa-times-circle-o"></i> {{ 'beeriously.global.delete'|trans }}</button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% for brewer in brewery.brewers %}
    {% endfor %}
    </div>
    {% if app.user is same as(brewery.accountOwner) %}
        <div id="beeriously-add-brewer-form-button">
        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> {{ 'beeriously.brewery.add_a_brewer' | trans }}</button>
        </div>
        <div id="beeriously-add-brewer-form" class="card card-form" style="display: none">
            <h3>{{ 'beeriously.brewery.add_a_brewer' | trans }}</h3>
            {{ form_start(addBrewerForm) }}
            {{ form_end(addBrewerForm) }}
            {{ form_widget(addBrewerForm) }}
        </div>
    {% endif %}
{% endblock %}